.Home { display: flex; flex-direction: column; height: 100vh; padding: 32px }
.Home.masked {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    background: black; color: #ffffff55;
}
.Home.masked h2 { color: #fff }

.Home .floating { position: fixed; top: 0; right: 0; padding: 8px; width: 50px; height: 50px }

.Home .i1 { display: grid; grid-template-columns: auto 1fr; gap: 32px; padding-bottom: 96px; align-items: center }
.Home .i2 { display: flex; flex-direction: row; flex-wrap: wrap; gap: 16px }

.Home .i1 img { height: 180px }
.Home .i2 button {
    width: 180px; height: 180px; display: flex; background: #f0f0f0; border: unset; border-radius: 9px;
    color: #142c89; fill: #142c89; font-size: 1.1rem; font-weight: bold; font-family: 'Product Sans', 'Noto Sans', 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none; align-items: center; justify-content: center; flex-direction: column; overflow: hidden;
    transition: background-color 200ms ease-in-out, fill 100ms ease-in-out, color 200ms ease-in-out;
}
.Home .i2 button:hover { background-color: #142c89; color: #fff; fill: #fff; box-shadow: 0 2px 20px #4256a099; z-index: 999 }
.Home .i2 img {
    display: block; max-width: 150px; height: 50px; object-fit: contain; margin-bottom: 16px;
    filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px -1px 0 #fff) drop-shadow(1px -1px 0 #fff) drop-shadow(-1px 1px 0 #fff)
}
.Home .i2 svg { width: 50px; height: 50px; margin-bottom: 16px }
