.day-overview {
    position: relative; z-index: 99; height: 60px;
    background: #00000009; border-radius: 5px; overflow: hidden;
}
.day-overview-lesson {
    font-weight: bold; font-size: 1.3em;
    left: 0; top: 0; bottom: 0; z-index: 100;
    position: absolute;
    text-align: center; padding-top: 10px;
    background: #00000022;
}
.day-overview-lesson small {
    display: block; font-weight: normal; font-size: 0.5em;
}
.day-overview-indicator {
    position: absolute; z-index: 100;
    left: 0; top: 0; height: 5px;
    background: #d22532;
    background: linear-gradient(90deg,
    var(--color-secondary) 0%, var(--color-secondary) 85%, var(--color-secondary-dark) 100%);
}
.day-overview-indicator::after {
    position: absolute; z-index: 101; content: ""; right: 0;
    width: 1px; height: 70px; background: var(--color-secondary-dark); opacity: 0.4;
}
