.Map {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden;
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
}
.Map #map { width: 100%; height: 100% }
.Map .ml {
    font-family: 'Noto Sans', sans-serif; font-size: 10px; text-anchor: middle; dominant-baseline: middle;
    paint-order: stroke; stroke: #fff; stroke-width: 1px; stroke-linecap: butt; stroke-linejoin: miter;
}
.Map .ml.tmp { fill: #00000044; stroke: none }
.Map .ml.s { font-size: 8px }
.Map .ml.xs { font-size: 5px }
.Map .ml.xxs { font-size: 3px }
.Map .toilet { fill: #236dff }
.Map .exit { fill: #08c100 }
.Map .loc { fill: #ae00c1 }
.Map .cabinet { fill: #9d5f0d }
.Map .info { fill: #1b0d9d }
.Map .controls { position: fixed; z-index: 999; top: 16px; right: 16px; display: flex; flex-direction: column; row-gap: 8px }
.Map .controls button { background-color: #2c79af; color: #fff; border: none; padding: 16px 24px; border-radius: 9px; cursor: pointer }
.Map .controls button.current { background-color: #164d73 }
.Map .original-link {
    position: fixed; z-index: 999; left: 0; bottom: 0; background-color: #fff; border-top-right-radius: 5px;
    padding: 6px; font-family: "Segoe UI", "Noto Sans", sans-serif;
}

@media screen and (max-width: 500px) {
    .Map .controls button { padding: 12px 14px; border-radius: 5px }
    .Map .original-link { font-size: 12px }
}
