.Admin { padding: 16px }
.Admin * { margin: 0 }
.Admin button { padding: 10px 12px }
.Admin table { border-collapse: collapse }
.Admin th, .Admin td {
    padding: 8px; text-align: left; border-bottom: 1px solid #ddd;
}
.Admin tr:hover { background-color:#f5f5f5 }
