.AdminLogin .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.AdminLogin {
    display: flex; align-items: center; justify-content: center; height: 100vh;
}
.AdminLogin .keypad {
    display: grid; background: #151515; box-shadow: 0 2px 10px 2px #00000033;
    grid-template-columns: repeat(3, 100px); column-gap: 8px; row-gap: 8px;
    padding: 16px; margin: 24px; border-radius: 9px;
}
.AdminLogin .keypad-key {
    color: white; text-align: center; background-color: #ffffff22;
    line-height: 100px; cursor: pointer; border-radius: 9px; font-size: 2rem;
}
.AdminLogin .keypad-key:hover { background-color: #ffffff33 }
.AdminLogin .keypad-key:active { background-color: #ffffff55 }
.AdminLogin .keypad-input {
    grid-area: 1 / 1 / 2 / 4; line-height: 60px; min-height: 60px; padding: 0 16px; background-color: #ffffff22;
    color: white; text-align: right; font-family: 'Courier New', monospace; font-size: 3rem; border-radius: 9px;
}
