:root {
    --color-background: #ffffff;
    --color-primary: #2043cc;
    --color-secondary: #D54739;
    --color-secondary-dark: #a5170a;
    --color-secondary-transparent: #D5473911;
}
@font-face {
    font-family: 'WhiteRabbit';
    src: url('res/whiterabbit/WhiteRabbit.eot');
    src: url('res/whiterabbit/WhiteRabbit.eot?#iefix') format('embedded-opentype'),
        url('res/whiterabbit/WhiteRabbit.woff2') format('woff2'),
        url('res/whiterabbit/WhiteRabbit.woff') format('woff'),
        url('res/whiterabbit/WhiteRabbit.ttf') format('truetype'),
        url('res/whiterabbit/WhiteRabbit.svg#WhiteRabbit') format('svg');
}
@font-face {
    font-family: 'Product Sans';
    src: url('res/Product Sans Regular.ttf');
}

* { margin: 0; box-sizing: border-box }
body { font-family: 'Product Sans', 'Noto Sans', sans-serif; font-size: 1.1rem }
h1, h2, h3 { color: var(--color-primary) }

